<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>Title</title>
      <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.css'}">
      <script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
  </head>
  <body>
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">
                          <a class="navbar-brand" href="#"><strong>BITLAB SHOP</strong></a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                          </button>


                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <form class="d-flex" style="margin-left: auto">
                              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">Top Sales</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">New Sales</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">By Category</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">Sign In</a>
                                  </li>
                              </ul>
                          </form>
                        </div>
              </div>
          </nav>
          <hr>
      </div>

      <div class="container">

          <div class="text-center">
              <h1><strong>WELCOME to BITLAB SHOP</strong></h1>
              <h5>Electronic devices with high quality and service</h5>
          </div>

      </div>

        <div class="container mt-3">
            <div class="row gy-2">
                <div class="col-md-4" th:each="tovar : ${items}">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${tovar.name}"></h5>
                            <hr>
                            <h4 class="card-text" style="color: green" th:text="${'$' + tovar.price}"></h4>
                            <h6 class="card-text" style="color: gray" th:text="${tovar.description1}"></h6>
                            <h6 class="card-text" style="color: gray" th:text="${tovar.description2}"></h6>
                            <h6 class="card-text" style="color: gray" th:text="${tovar.description3}"></h6>
                            <h6 href="#" class="btn btn-success">Buy Now</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </body>
</html>